<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experience</h2>
			<hr class="bar"/>
	</div><section id="cd-timeline" class="cd-container">
<div class="cd-timeline-block">
<div class="cd-timeline-img cd-movie">
	<img src="../assets/img/idea14.svg" alt="College"/>
</div><!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2 class="story-heading">本科阶段</h2>
	<p>北京化工大学计算机科学与技术</p>
	<span class="cd-date">2009－2013</span>
</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div><div class="cd-timeline-block">
<div class="cd-timeline-img cd-picture">
<img src="../assets/img/web-programming.svg" alt="Picture"/>
</div><!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2>研究生阶段</h2><p>法国图尔大学计算机工程师学院</p>
	<span class="cd-date">2013-</span>
</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div>
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
	<img src="../assets/img/graduate38.svg" alt="Location"/>
	</div><!-- cd-timeline-img-->
	<div class="cd-timeline-content">
	<h2>深圳市南山区清华大学研究生院</h2>
	<p>毕业实习 物流机器人项目开发</p><span class="cd-date">2016/04 - 2016/08</span>
	</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div>
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
	<img src="../assets/img/hosting.svg" alt="Location"/>
	</div><!-- cd-timeline-img-->
	<div class="cd-timeline-content">
	<h2>To be continue</p><span class="cd-date">2016/08 － </span>
	</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div>